{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}
{% block inner_context %}
    <div class="row ">

        <div class="col-9 offset-1 content-main">
            <br>
            <p> {{description}} </p>
            <form method="POST">
                {% csrf_token %}
                {{ form.errors }}
                <h5> {% trans "Ingredients name" %}: </h5>
                {{ form.name }}
                <br>
                <h5> {% trans "Insert description (optionally)" %} </h5>
                {{ form.description }}
                <br>
                <br>
                <input class="btn btn-primary" type="submit" value="{% trans 'Save' %}">
            </form>
            <br>
            <hr>
        </div>
    </div>

{% endblock %}