{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}
{% block inner_context %}

    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}

        <table class="table">
            {{ order_formset.management_form }}
            {% for form_instance in order_formset.forms %}
                {{ form_instance }}
            {% endfor %}
        </table>
        <input type="submit" value="{% trans 'Save' %}">
    </form>
    <br>
    <br>

{% endblock %}