{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}
{% block inner_context %}

    <div class="row ">

        <div class="col-9 offset-1 content-main">
            <h4> {% trans "Desctiption" %}: </h4>
            <hr>
            <p> {{object.description}} </p>
            <h3>{% trans 'Consists of' %}: </h3>
            <ul style="list-style-type:circle;">
                {% for name, quantity in ingredients.items %}
                    <li> {{name}} : {{quantity}} </li>
                {% endfor %}
            </ul>
            <p class="blog-post-meta">{% trans "Added on" %} {{object.created_on}}, {% trans "Chef" %}:
                <a href="#">{{object.author}}</a>
            </p>
            <hr>

            {% if user.is_authenticated %}
            <a class="btn btn-primary" type="button" href="{% url 'dishmaker:order_from_dish' object.id %}">
                {% trans "Make an order" %}
            </a>
            {% endif %}
        </div>
        {% if user.is_authenticated and user.is_active and user.is_staff %}
        <div class="col-2">
            <div class="row">
                <a href="{% url 'dishmaker:dish_update' object.id %}" type="button" class="btn btn-primary crud-button">
                    {% trans "Edit" %}
                </a>
            </div>
            <div class="row">
                <a href="{% url 'dishmaker:dish_delete' object.id %}" type="button" class="btn btn-primary crud-button">
                    {% trans "Delete" %}
                </a>
            </div>
            <br>
            <div class="row">
                <form action="{% url 'notes:create_note' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ model_type }}" name="model_type">
                    <input type="hidden" value="{{ object.id }}" name="model_id">
                    <button class="btn btn-primary crud-button" type="submit">
                        {% trans "Note" %}
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}