{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}

{% block inner_context %}

<script>
    var socketUpdater = new WebSocket(
        'ws://' + window.location.host +
        '/ws/');

    socketUpdater.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
<div class="row ">
    <div class="col-9 offset-1 content-main">
        {% for dish_comp_dict in recipes_list %}
        <div class="blog-post">
            <hr>
            <h3 class="blog-post-title">
                <a href="{% url 'dishmaker:dish_page' dish_comp_dict.dish.id %}">
                {{dish_comp_dict.dish.name}}
                </a>
            </h3>
            <hr>
            <p class="blog-post-meta"> {% trans "Chef" %}: <a href="#">{{dish_comp_dict.dish.author}}</a></p>
            <h4> {% trans "Desctiption" %}: </h4>
            <p> {{dish_comp_dict.dish.description}} </p>
            <h5> {% trans "Consists of" %}: </h5>
            <ul style="list-style-type:circle;">
                {% for ing, quantity in dish_comp_dict.ingredients.items %}
                    <li> {{ing}} : {{quantity}} </li>
                {% endfor %}
            </ul>
        </div>
        <hr>
        {% endfor %}
      </div><!-- /.row -->

</div>
{% endblock %}
