{% extends "dishmaker/content/content_base.html" %}

{% block inner_context %}

    <div class="row ">

        <div class="col-9 offset-1 content-main">
            <h5> Desctiption: </h5>

            <p> {{object.description}} </p>
            </ul>
            <p class="blog-post-meta">Added on {{object.created_on}}, by <a href="#">SampleGuy</a></p>
            <hr>

        </div>
        <div class="col-2">
            <div class="row">
                <a href="#" type="button" class="btn btn-primary crud-button">Edit</a>
            </div>
            <div class="row">
                <a href="#" type="button" class="btn btn-primary crud-button">Delete</a>
            </div>
        </div>
    </div>

{% endblock %}