{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}
{% block inner_context %}

    <div class="row ">

        <div class="col-9 offset-1 content-main">
            <h5> {% trans "Desctiption" %}: </h5>

            <p> {{object.description}} </p>
            </ul>

        </div>
      {% if user.is_authenticated and user.is_active and user.is_staff %}
        <div class="col-2">
            <div class="row">
                <a href="{% url 'dishmaker:ing_update' object.id %}" type="button" class="btn btn-primary crud-button">
                    {% trans "Edit" %}
                </a>
            </div>
            <div class="row">
                <a href="{% url 'dishmaker:ing_delete' object.id %}" type="button" class="btn btn-primary crud-button">
                    {% trans "Delete" %}
                </a>
            </div>
        </div>
      {% endif %}
    </div>

{% endblock %}