{% extends "dishmaker/content/content_base.html" %}

{% block inner_context %}

    <div class="row ">
        {% for object in object_list %}
            <br>
            <div class="col-9 offset-1 content-main">
                <h2> A note for: {{object.content_object}}</h2>
                <hr>
                <p class="blog-post-meta">Added on {{object.created_on}}, by <a href="#">SampleGuy</a></p>
                <h3> Note: </h3>
                <p>
                    {{object.note}}
                </p>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}