{% extends "dishmaker/content/content_base.html" %}
{% load i18n %}
{% block inner_context %}

    <div class="row ">
        {% for object in object_list %}
            <br>
            <div class="col-9 offset-1 content-main">
                <h2> {% trans "A note for" %}: {{object.content_object}}</h2>
                <hr>
                <p class="blog-post-meta">
                    {% blocktrans with date=object.created_on %}Added on {{date}}, by {%endblocktrans%}
                    <a href="#">SampleGuy</a></p>
                <h3> {% trans "Note" %}: </h3>
                <p>
                    {{object.note}}
                </p>
            </div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}