{% extends 'dishmaker/base.html' %}

{% block content_base %}
<div class="title">
     Login
</div>
    <div class="row ">
        <div class="col-8 offset-2 content-main">
            {% if not user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            {% else %}
                You are already logged in!
            {% endif %}
        </div>
    </div>
{% endblock %}