{% extends 'dishmaker/base.html' %}
{% load i18n %}
{% block content_base %}
<div class="title">
     {% trans "Login" %}
</div>
    <div class="row ">
        <div class="col-8 offset-2 content-main">
            {% if not user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary crud-button" style="width: 150px" type="submit">
                        {% trans "Login" %}
                    </button>
                </form>
            {% else %}
                {% trans "You are already logged in" %}!
            {% endif %}
        </div>
    </div>
{% endblock %}