.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    background-color: Gainsboro;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.content-main {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
}